# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!*/README.md
!Prog1
!Prog2
!Prog1/SS??
!Prog2/WS??
!Prog1/SS??/blatt??.cpp
!Prog1/SS??/blatt??_*.cpp
!Prog2/WS??/blatt??.cpp
!Prog2/WS??/blatt??_*.cpp
# etc...
